async def {{ handler_name }}(self, frame: Frame) -> None:
{% for input_ref, input_var in input_tuples %}
    {{ input_var }} = frame.signals["{{ input_ref }}"]
{% endfor %}
    await self.{{ output_namespace_var }}.restbus.update_signals(
{% for signal_name, value_expr in output_tuples %}
        ("{{ signal_name }}", {{ value_expr }}),
{% endfor %}
    )
